<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
            <rules>
      <rule name="rule 1T">
	<match url=".*"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 2T" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/%1"  />
</rule>
<rule name="rule 3T" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
</rules>
    </rewrite>
    </system.webServer>
  </location>
</configuration>
